    <footer>
        <div class="bg-success-subtle row g-0 pt-3">
            <div class="col mx-5">
                <h5>About Us</h5>
                <ul class="list-unstyled">
                    <li class="mx-3 my-1"><a href="support.html" class="text-decoration-none text-dark">Information</a></li>
                    <li class="mx-3 my-1"><a href="story.html" class="text-decoration-none text-dark">Our Story</a></li>
                </ul>
            </div>
            <div class="col mx-5">
                <h5>Help</h5>
                <ul class="list-unstyled">
                    <li class="mx-3 my-1"><a href="support.html" class="text-decoration-none text-dark">Contact Us</a></li>
                    <li class="mx-3 my-1"><a href="support.html" class="text-decoration-none text-dark">Return Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="bg-dark text-white text-center p-2">
            <h5>&copy; Copyright 2024 Onism</h5>
        </div>
    </footer>    

    <!-- Optional JavaScript -->
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>